// change the theme
$theme-colors: (
	"primary": #202020,
	"secondary": #6529b2,
	"danger": #df352d,
);

$font-size-base: 1.1rem;

@import url("https://fonts.googleapis.com/css?family=Roboto");

$font-family-base: Roboto;

.btn {
	display: block;
	text-transform: uppercase;
	letter-spacing: 2px;
	&:after {
		content: "";
	}
	&:hover:after {
		content: ">";
		padding-left: 0.4rem;
		-webkit-transition: all 1s;
		transition: all 0.3s;
	}
}

.btn-add {
	&:after {
		content: "";
	}
	&:hover:after {
		content: "+";
		padding-left: 0.4rem;
		-webkit-transition: all 1s;
		transition: all 0.3s;
	}
}

.btn-default {
	&:after {
		content: "";
	}
	&:hover:after {
		content: none;
		padding-left: 0.4rem;
		-webkit-transition: none;
		transition: none;
	}
}

.pointer {
	cursor: pointer
}

img {
	max-width: 100%;
}

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";
